*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy
    }
    
    .header{
    background-color: whitesmoke;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    }
    
    .logo{
        height: 1000%;
        padding: 100px;
    }
    
    .nav-list{
        display: flex;
        gap: 80px;
        list-style: none;
    }
    
    .nav-link{
        color:rgb(88, 41, 19);
    }
    .nav-link:hover{
        text-decoration:underline;
        color:rgb(61, 23, 5);
    }